/* GENERAL STYLING */
html {
  background-color: white;
  color: black;
  font-family: epilogue, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

h6 {
  color: #ff0000;
}

/* MOBILE FIRST DESIGN */

/* HEADER STYLING */
header {
  background-color: white;
  block-size: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

header div:nth-child(2) {
  flex: 1;
}

/* Logo */
#logo {
  font-size: 20px;
  font-weight: 600;
  color: #357d52;
  padding-inline-start: 10px;
}

/* Header buttons */
header button {
  background-color: transparent;
  border: none;
}

header button:not(#menu-button) {
  padding-inline: 2px;
}

/* NAV MENU STYLING */
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#nav-menu {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  block-size: 100%;
  inline-size: 100%;
  list-style: none;
}

#nav-menu li {
  block-size: 25px;
  display: flex;
}

#nav-menu span {
  padding-inline-end: 10px;
}

#nav-menu li a {
  text-decoration: none;
  color: #357d52;
  font-size: 16px;
  padding-inline: 20px 40px;
  display: flex;
  align-items: center;
  flex: 0.3;
}

/* MAIN BODY CONTENT STYLING */

/* Call To Action section / the first section */
#cta-section {
  block-size: 100vh;
  /* display: none; */
  overflow: hidden;
}

#text-area {
  background-color: #ffffffb3;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  block-size: 300px;
  display: flex;
}

#text-area > div:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#text-area > div:last-child {
  inline-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-block-end: 30px;
}

.cta {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 15px;
}
.cta:not(.cta.button) {
  justify-content: center;
}

.cta h2 {
  font-size: 20px;
  color: #357d52;
  line-height: 30px;
}

.cta-button {
  background-color: transparent;
  color: #357d52;
  border: 2px solid #357d52;
  block-size: 35px;
  inline-size: 100px;
  margin-block-start: 10px;
}

.cta-button:hover {
  background-color: #357d52;
  color: #ffffff;
}

.image-locator {
  block-size: 8px;
  inline-size: 8px;
  border-radius: 4px;
  margin: 5px;
}

/* CATEGORY SECTION */

#category-section {
  background-color: #ffffff;
  position: relative;
}

.decor {
  background-color: #357d5233;
  block-size: 50px;
  inline-size: 50px;
  border-radius: 25px;
  position: absolute;
  top: 60px;
}

.circle {
  left: 200px;
}

.rounded-rect {
  inline-size: 300px;
  block-size: 100px;
  border-radius: 50px;
  left: -100px;
  top: 90px;
}

.main-category-section {
  /* background-color: lightpink; */
  inline-size: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 50px;
}

.category.writeup {
  /* background-color: lightblue; */
  block-size: 200px;
  inline-size: 300px;
}

.category.box {
  block-size: 300px;
  inline-size: 300px;
  background-color: #357d52;
  margin-block: 25px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-container {
  /* background-color: lightpink; */
  block-size: 95%;
  inline-size: 95%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-container > div {
  /* background-color: lightblue; */
  color: #ffffff;
  block-size: 48%;
  border-radius: inherit;
  padding: 10px;
  text-align: center;
  font-size: 10px;
}

.category-container > div:first-child {
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.category-container > div:first-child > div {
  /* background-color: lightblue; */
  margin-block-start: 10px;
}

.category-writeup {
  overflow: hidden;
}

/* SCROLL BACK TO TOP FUNCTION */
#scroll-btn {
  background-color: #357d52;
  color: #ffffff;
  padding: 15px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  z-index: 1000;
}
